#g2 {
	-fx-background-color: #e8e8e8;
}

#a:hover {
	-fx-background-image: url("../casehover.png");
}
#barreDuBas {
	-fx-background-color: #ff0000;
}

.button {
	-fx-background-color: #8b8b8b;
	-fr-border-radius: 5px;
	-fx-border-color: #ffffff;
}

.button:hover {
	-fx-background-color: #e8e8e8;
	-fx-border-radius: 3px;
}

#But1 {
  -fx-background-image: url('../case.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: cover;
}

#imagedirt {
  -fx-background-image: url('../dirt.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: cover;
}
#imagequartz {
  -fx-background-image: url('../Pilier_de_quartz.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: cover;
}
