#menuarea {
	-fx-background-color: #ffffff;
	-fx-border-width: 2 0 0 0;
	-fx-border-color: #373737;
}

#inventoryarea {
	-fx-background-color: #c6c6c6;
	-fx-border-width: 2 0 0 0;
	-fx-border-color: #373737;
}

#inventorygrid {
	-fx-background-color: #ffffff;
}

#menuitems, #menuoutils, #menuminerais, #menublocks {
	-fx-background-color: #b8b8b8;
	-fx-border-width: 1;
	-fx-border-color: #373737;
}
#menuitems:hover, #menuoutils:hover, #menuminerais:hover, #menublocks:hover {
	-fx-background-color: #8b8b8b;
	-fx-transition: 0.3s;
}

#labelmitem:hover, #labelmblock, #labelmoutil, #labelmminerai {
	-fx-border-color: #ffffff;
}

#inventoryslot {
	-fx-background-color: #8b8b8b;
	-fx-border-width: 2 0 0 2;
	-fx-border-color: #373737;
}

#inventoryslot:hover {
	-fx-background-color: #b8b8b8;
	-fx-transition: 0.3s;
}
